.form {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 400px;
}

.content ul li{
  list-style-type: none;
}

.content ul li a{
  text-decoration: none;
  color: white;
}

.footer {
  background-color: rgb(96, 30, 116);
}

.content h3{
  color: orange;
}

.main{
  margin-top: 0px;
}

.img1{
  height: 50%;
}

@media screen and (max-width: 767px ) {

  .main {
      margin-top: 328px;
  }

  .form{
     
      height: 59%;
      top: 73%;
      left: 48%;
      width: 378px;
  }

  .form-label {
      margin-bottom: -0.5rem;
  }

  .img1{
      height: 213px;
  }
  
}